{% extends "base.html" %}
{% load static %}
{% load embed_video_tags %}

{% block extrahead %}
<script src="{% static javascript %}"></script>
<link href="{% static styles %}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div class="content">
    <section class="jumbotron text-center">
        <div class="container">

            <h1>Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    <div class="videos-section">
        <div class="accordion container videos-content" id="videoAccordion1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" id="accordion-button-override" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong>Gameplays</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#videoAccordion1">
                    <div class="accordion-body">
                        <div class="jcarousel-wrapper">
                            <div class="jcarousel">
                                <ul>
                                    {% for vid in video_items %}
                                    <li>
                                        <div class="carousel-item active">
                                            <div class="card" style="width: 18rem;">
                                                {% video vid.video as my_video %}
                                                <img src="{{ my_video.thumbnail }}" class="card-img-top">
                                                <div class="card-body">
                                                <a href="{% url 'video_detail' vid.pk %}" style="text-decoration: none; color: black">
                                                    <h5 class="card-title stretched-link" href=""> {{ vid.title }} </h5>
                                                </a>
                                                {% endvideo %}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                            <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                            <p class="jcarousel-pagination"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion container videos-content" id="videoAccordion2">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" id="accordion-button-override" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <strong>Edits de Videojuegos</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                    data-bs-parent="#videoAccordion2">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is hidden by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that
                        just about any HTML can go within the <code>.accordion-body</code>, though the transition does
                        limit
                        overflow.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion container videos-content" id="videoAccordion3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" id="accordion-button-override" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <strong>Vlogs</strong>
                        
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                    data-bs-parent="#videoAccordion3">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is hidden by default, until the
                        collapse plugin adds the appropriate classes that we use to style each element. These classes
                        control the overall appearance, as well as the showing and hiding via CSS transitions. You can
                        modify any of this with custom CSS or overriding our default variables. It's also worth noting
                        that
                        just about any HTML can go within the <code>.accordion-body</code>, though the transition does
                        limit
                        overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}